<!DOCTYPE html>
<html lang=ja>
<head>
<meta charset="UTF-8">
</head>
<body>
    <table>
        <% for( let result of content ) { %>
        <tr>
            <td><%= result.id %></td>
            <td><%= result['pople'] %></td>
            <td><%= result[count('pople_id')] %></td>
        </tr>
        <% } %>
    </table>
 
</body>
</html>
